/*
$theme-h1-font-size: "2xl";
$theme-h2-font-size: "xl";
$theme-h3-font-size: "lg";
$theme-h4-font-size: "md";
$theme-h5-font-size: "sm";
$theme-h6-font-size: "xs";
*/
.Tx__making-each-dollar-count {
  .TxBrushCard {
    .usa-card {
      .usa-card__body {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include u-padding-x(4);

        p {
          margin-bottom: 0;
        }
        strong {
          @include u-font("serif", $theme-h1-font-size);
          @include u-color("base");
        }
      }
    }
  }
}
