.Tx__process {
  .TxCallout__ringer {
    @include u-margin-bottom(8);
    .TxCallout__items {
      [class*="grid-col"] {
        ul {
          max-width: 360px;
          margin-left: auto;
          margin-right: auto;
          @include at-media("desktop") {
            @include u-padding-left(3);
          }
        }
        &:first-child {
          h3 {
            padding-left: 9rem;
            padding-right: 9rem;

            @include at-media("desktop") {
              @include u-padding-x(4);
            }
          }
        }
      }
    }
  }
}

.TxFunnel {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @include u-padding-top(10);
    @include u-padding-bottom(8);
    @include fullWidthBg("funnel-mobile-bg.png");
    @include at-media("desktop") {
      display: flex;
      align-items: center;
      justify-content: center;
      @include fullWidthBg("funnel-bg.png");
      @include u-padding-y(15);
      margin-left: -3rem;
      padding-left: 6rem;
      padding-right: 3rem;
    }

    li {
      position: relative;
      display: block;
      max-width: 100%;
      padding: 0;
      margin: 0;
      @include u-margin-bottom(1);
      @include u-font("serif", 10);
      text-align: center;
      @include at-media("desktop") {
        display: inline-block;
        padding: 0;
        margin: 0;
        @include u-padding-y(4);
      }

      em {
        content: "";
        display: inline-block;
        color: rgba(255, 255, 255, 0);
        height: 20px;
        @include fullWidthBg("funnel-arrow-v.png");
        background-size: cover;
        background-position: center bottom;
        width: 20px;
        height: 75px;
        @include at-media("desktop") {
          height: 20px;
          width: 100%;
          @include fullWidthBg("funnel-arrow.png");
          background-size: cover;
          background-position: right center;
        }
      }
      &:nth-child(even) {
        @include at-media("desktop") {
          width: 12.5%;
          @include u-padding-x(2);
          transform: translateY(0.75rem);
        }
      }
      &:last-child {
        padding-left: 10rem;
        padding-right: 10rem;
        @include u-margin-bottom(8);

        @include at-media("desktop") {
          padding: 0;
          margin: 0;
          text-align: center;
          width: 22%;
        }
      }

      strong {
        display: block;
        @include u-font("serif", "3xl");
        @include u-color("base");
        font-weight: 500;
        line-height: 1;
        @include u-margin-bottom(1);
        @include at-media("desktop") {
          @include u-font("serif", "xl");
          display: inline-block;
        }
      }
    }
  }
}
