@mixin buttonCustom($value) {
  background-color: color($value);
  box-shadow: $button-stroke color($value);
  color: color("white");

  &:visited {
    background-color: color($value);
    box-shadow: $button-stroke color($value);
  }
  &:hover,
  &.usa-button--hover {
    background-color: color($value + "-dark");
    box-shadow: $button-stroke color($value + "-dark");
  }
  &:focus,
  &.usa-button--active,
  &:active,
  &.usa-button--active {
    background-color: color($value + "-darker");
    box-shadow: $button-stroke color($value + "-darker");
  }
  &:disabled,
  &.usa-button--disabled {
    box-shadow: none;
  }
  &.usa-button--unstyled {
    color: color($value);
    background-color: transparent;
    box-shadow: none;
  }
  &-outline {
    @include no-knockout-font-smoothing;
    background-color: color("transparent");
    box-shadow: $button-stroke color($value);
    color: color($value);

    &:visited {
      background-color: color("transparent");
      box-shadow: $button-stroke color($value);
      color: color($value);
    }

    &:hover,
    &.usa-button--hover {
      background-color: color("transparent");
      box-shadow: $button-stroke color($value + "-dark");
      color: color($value + "-dark");
    }

    &:active,
    &.usa-button--active,
    &:focus,
    &.usa-button--focus {
      background-color: color("transparent");
      color: color($value + "-darker");
      box-shadow: $button-stroke color($value + "-darker");
    }

    &:disabled,
    &.usa-button--disabled {
      box-shadow: none;
    }

    &.usa-button--unstyled {
      box-shadow: none;
    }
  }
  &-white {
    color: color($value);
    background-color: color("white");
    box-shadow: $button-stroke color("white");
    &:visited {
      color: color($value);
      background-color: color("white");
      box-shadow: $button-stroke color("white");
    }
    &:hover,
    &.usa-button--hover {
      color: color($value);
      text-decoration: none;
    }
    &:active,
    &.usa-button--active,
    &:focus,
    &.usa-button--focus {
      color: color($value + "-darker");
      background-color: color("white");
      box-shadow: $button-stroke color("white");
    }
    &:disabled,
    &.usa-button--disabled {
      box-shadow: none;
    }
  }
}

.usa-button {
  font-size: 1rem;
  margin-right: unset;
  &--primary {
    @include buttonCustom("primary");
  }
  &--secondary {
    @include buttonCustom("secondary");
  }
  &--accent-warm {
    @include buttonCustom("accent-warm");
  }

  &--fullwidth {
    width: 100%;
  }
  &.usa-button--unstyled {
    background-color: transparent;
    box-shadow: none;
  }
}
