.usa-footer {
  &__link {
    font-weight: 600;
    @include u-text('white');
    &:visited {
      @include u-text('white');
    }
  }
  &__top {
    @include u-padding-y(2);
  }
  &__navigation {
    @include u-bg('primary');
    @include u-padding-y(2);
    a {
      font-weight: 500;
      text-decoration: none;
      @include u-margin-right(10);
    }
  }
  &__bottom {
    @include u-padding-y(2);
    @include u-bg('primary-darker');
  }
  &__title {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    text-decoration: none;
    font-weight: 600;
    @include u-text('white');
    &:visited {
      @include u-text('white');
    }
    img {
      @include u-margin-right(2);
    }
  }
}
