.ArticleExcerpt {
  @include u-text('base');
  &__title {
    text-decoration: none;
    h5 {
      margin: 0;
      @include u-font('sans', 'md');
      @include u-margin-bottom(1);
    }
  }
  &__date {
    font-style: italic;
    @include u-margin-bottom(1);
  }
  p {
    margin-top: 0;
  }
}
