.ArticleExcerpt {
  @include u-text("base");
  &__title {
    margin: 0;
    @include u-font("sans", "md");
    @include u-margin-bottom(1);
    a {
      text-decoration: none;
    }
  }
  &__date {
    font-style: italic;
    @include u-margin-bottom(1);
  }
  p {
    margin-top: 0;
  }
}
