@mixin buttonCustom($value) {
  background-color: color($value);
  box-shadow: $button-stroke color($value);
  color: color('white');

  &:visited {
    background-color: color($value);
    box-shadow: $button-stroke color($value);
  }
  &:hover,
  &.usa-button--hover {
    background-color: color($value + '-dark');
    box-shadow: $button-stroke color($value + '-dark');
  }
  &:focus,
  &.usa-button--active,
  &:active,
  &.usa-button--active {
    background-color: color($value + '-darker');
    box-shadow: $button-stroke color($value + '-darker');
  }
  &:disabled,
  &.usa-button--disabled {
    box-shadow: none;
  }
  &.usa-button--unstyled {
    color: color($value);
    background-color: transparent;
    box-shadow: none;
  }
  &-outline {
    @include no-knockout-font-smoothing;
    background-color: color('transparent');
    box-shadow: $button-stroke color($value);
    color: color($value);

    &:visited {
      background-color: color('transparent');
      box-shadow: $button-stroke color($value);
      color: color($value);
    }

    &:hover,
    &.usa-button--hover {
      background-color: color('transparent');
      box-shadow: $button-stroke color($value + '-dark');
      color: color($value + '-dark');
    }

    &:active,
    &.usa-button--active,
    &:focus,
    &.usa-button--focus {
      background-color: color('transparent');
      color: color($value + '-darker');
      box-shadow: $button-stroke color($value + '-darker');
    }

    &:disabled,
    &.usa-button--disabled {
      box-shadow: none;
    }

    &.usa-button--unstyled {
      box-shadow: none;
    }
  }
  &-media {
    @include no-knockout-font-smoothing;
    background-color: color('transparent');
    box-shadow: none;
    color: color('secondary');
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 700;
    @include at-media('tablet') {
      font-size: 0.875rem;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 2px;
      transform: translateY(-3px);
      margin-right: 10px;
      background-color: color($value);
      @include at-media('tablet') {
        transform: translateY(-4px);
      }
    }
    &:visited {
      background-color: color('transparent');
      box-shadow: none;
      color: color('secondary-dark');
    }

    &:hover,
    &.usa-button--hover {
      background-color: color('transparent');
      box-shadow: none;
      color: color('secondary-dark');
      text-decoration: underline;
    }

    &:active,
    &.usa-button--active,
    &:focus,
    &.usa-button--focus {
      background-color: color('transparent');
      box-shadow: none;
      color: color('secondary-darker');
    }

    &.usa-button--unstyled {
      box-shadow: none;
    }
  }
  &-white {
    color: color($value);
    background-color: color('white');
    box-shadow: $button-stroke color('white');
    &:visited {
      color: color($value);
      background-color: color('white');
      box-shadow: $button-stroke color('white');
    }
    &:hover,
    &.usa-button--hover {
      color: color($value);
      background-color: $theme-color-background-cool;
      box-shadow: $button-stroke $theme-color-background-cool;
      text-decoration: none;
    }
    &:active,
    &.usa-button--active,
    &:focus,
    &.usa-button--focus {
      color: color($value + '-darker');
      background-color: color('white');
      box-shadow: $button-stroke color('white');
    }
    &:disabled,
    &.usa-button--disabled {
      box-shadow: none;
    }
  }
}

.usa-button {
  font-size: 1rem;
  &--primary {
    @include buttonCustom('primary');
  }
  &--secondary {
    @include buttonCustom('secondary');
  }
  &--accent-warm {
    @include buttonCustom('accent-warm');
  }
  &--accent-cool {
    @include buttonCustom('accent-cool');
  }

  &--fullwidth {
    width: 100%;
  }
  &.usa-button--unstyled {
    font-size: 0.75rem;
    background-color: transparent;
    box-shadow: none;
    line-height: 1;
    @include at-media('tablet') {
      font-size: 0.875rem;
    }
  }
  &__external {
    display: inline-block;
    margin-left: 10px;
  }
}
