.usa-accordion__button {
    background-color: #ffffff;
    border: #c4c4c4 1px solid;
    border-radius: .5rem;
}

.USFilterControl.usa-accordion {
    @include u-margin-bottom(2);
}

.usa-accordion__button[aria-expanded="false"] {
    @include add-background-svg("chevron");
}

.usa-accordion__button {
    @include add-background-svg("chevron");
}
