.ai-uc {
  @include u-margin-bottom(2);

  &.usa-card {
    @include u-margin-bottom(2);
    &:last-child {
      @include u-margin-bottom(2);
    }
  }

  &__meta {
    display: inline-block;
    @include u-margin-right(1);
    @include u-font("sans", "2xs");
    @include u-color("ink");
    text-decoration: underline;
  }
  .usa-card__container {
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    border: none;
  }
  .usa-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include u-padding(2);
    @include u-bg("ink");

    .usa-card__heading,
    .usa-card__meta {
      @include u-font("serif", "sm");
      text-transform: uppercase;
      @include u-color("white");
    }
  }
  .usa-card__body {
    @include u-padding(2);
    @include u-color("base");
  }
  .usa-card__footer {
    @include u-padding(2);
    @include u-padding-bottom(4);
  }
}

.usa-content-list--horizontal {
  .ai-uc {
    .usa-card__container {
      box-shadow: none;
      background-color: transparent;
      border-bottom: 1px solid #{color("ink")};
    }
    .usa-card__header {
      background-color: transparent;
      padding-top: 0;
      padding-bottom: 0;
      .usa-card__heading,
      .usa-card__meta {
        @include u-font("serif", "md");
        @include u-color("ink");
      }
    }
    .usa-card__body {
      padding-top: 0;
    }
  }
}
