.usa-content-list--vertical {
    .usa-card__container {
        min-height: 27rem;
    }
    .usa-card__footer {
        .usa-button {
            margin-left: auto;
            margin-right: auto;
            display: block;
            @include u-padding-left(4);
            @include u-padding-right(4);
        }
    }
}