.usa-footer--big .usa-footer__primary-content--collapsible .usa-list--unstyled {
  padding-right: 1rem;
}

.usa-footer {
  background-color: $x-charcoal;
  color: $x-whiteish;
  .usa-footer__primary-section,
  .usa-footer__secondary-section,
  .usa-footer__primary-link {
    background-color: $x-charcoal;
    color: $x-whiteish;
  }
}

.usa-footer__secondary-section,
.usa-footer__return-to-top,
.usa-footer__primary-section {
  a,
  a:visited {
    color: $x-ocean;
  }
}

.usa-social-link {
  filter: invert(1);
}

.usa-footer
  .usa-footer__primary-section
  .usa-identifier
  .usa-identifier__section
  .usa-identifier__container {
  @include u-maxw("widescreen");
}
