.usa-header {
  @include u-bg("base-darkest");

  &__nav {
    flex-grow: 1;
    text-align: right;
    @include u-padding-right(1);

    @include at-media("desktop") {
      text-align: left;
      padding: 0;
    }
  }
}

.US_loginPrompt {
  @include u-bg("primary-dark");
  @include u-color("white");
  @include u-font("serif", "sm");
  @include u-padding-y("105");
  @include u-border(0, "primary-darker");
  @include u-border-bottom("2px");
  text-align: center;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;

  .loginGovLogo {
    display: inline-block;
    vertical-align: middle;
    @include u-margin-x(2);
  }
  .auth-lock-icon {
    display: inline-block;
    vertical-align: middle;
    @include u-margin-right(2);
    width: 1.25rem;
    height: 1.5rem;
  }
}