.usa-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $x-charcoal;
  @include u-padding(4);
  &.is-visible {
    animation: unset;
    justify-content: left;
    .usa-nav__footer {
      .usa-search {
        width: 50%;
        display: block;
        @include u-margin-top(1);
        @include u-margin-bottom(1);
      }
      > .grid-row {
        display: block;
      }
      .sign-in {
        display: block;
        width: 8rem;
        @include u-margin-top(1);
        @include u-margin-bottom(1);
      }
    }
  }

  .usa-nav__inner {
    width: 100%;
    @include at-media("desktop") {
      width: auto;
    }
  }
  .usa-nav__url {
    @include u-margin-bottom(2);
    &.usa-accordion__button {
      @include u-margin-bottom(1);
    }
  }
  .usa-nav__primary {
    text-align: left;
    button {
      padding: 0;
      .usa-nav__url-prefix {
        @include u-margin-right(1);
      }
    }
  }
  .usa-nav__submenu {
    @include u-padding-top(1);
    @include u-padding-left(2);
    @include u-margin-bottom(2);

    &[hidden] {
      display: inline-block;
    }
    button {
      @include u-margin-bottom(2);
    }
  }
  ul,
  li {
    border: none;
    padding: 0;
    margin: 0;
    width: 50%;
  }
  .usa-nav__footer {
    @include u-margin-top(2);
    text-align: left;
    align-self: flex-start;
    width: 100%;

    .usa-search {
      width: auto;
      float: none;
      display: flex;
      flex-basis: 0%;
      flex-grow: 3;
      flex-shrink: 1;
    }

    .grid-row {
      width: 100%;
    }
  }
}

@include at-media("desktop") {
  .usa-nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    float: none;
    text-align: left;
    padding: 0;
    
  }
}

.usa-nav-open,
.usa-nav-close {
  display: inline-block;
  height: 3rem;
  @include at-media("desktop") {
    display: none;
  }
  &:hover {
    background-color: transparent;
    opacity: 0.8;
  }
}

.usa-header__nav > .grid-row {
  justify-content: flex-end;
}

.usa-header {
  background-color: $x-charcoal;
  .usa-logo__text {
      color: $x-whiteish;
      border: none;
      font-size: 24px;
      padding: 1.5rem;
  }
  a.usa-logo {
      text-decoration: none;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
  }
  div.grid-row.align-items-center {
      padding-top: 1em;
  }
}

.usa-header > div.grid-bg {
  min-height: 110px;
}

.usa-nav__primary > .usa-nav__primary-item > a {
  .last {
      color: $x-whiteish;
  }
  color: $x-ocean;
  font-size: 20px;
  line-height: 25px;
}

.usa-nav__footer {
  .usa-nav__link {
      color: $x-whiteish;
      line-height: 20px;
      > span {
          color: $x-ocean;
          font-size: 20px;
      }
  }
}

.usa-nav {
  .usa-accordion {
      @include u-font-family('serif');
  }
  .sign-in {
      svg {
          transform: scale(.65);
          display: block;
      }
      a, a:visited {
          color: $x-whiteish;
          @include u-font-family("serif");
          font-size: 20px;
          text-decoration: none;
      }
      text-align: center;
      display: flex;
      flex-basis: 0%;
      flex-grow: 1;
      flex-shrink: 1;
  }
}

.usa-search.usa-search--small {
  .usa-input, .usa-button {
      height: 50px;
  }
  .usa-button {
      background-color: transparent;
      position: absolute;
      filter: invert(1);
      right: 0;
  }
}

.usa-banner .usa-banner__header {
  color: #fff;
  border-bottom: 1px solid $x-space-gray;
}

.usa-banner .usa-banner__button:active, .usa-banner .usa-banner__button:focus, .usa-banner .usa-banner__button:visited {
  color: $x-sky;
}

.usa-banner {
  background-color: transparent;
}

.usa-banner .usa-banner__content {
  color: $x-whiteish;
}

.usa-banner .usa-banner__button .usa-banner__button-text:after {
  color: $x-whiteish;
}

@media (min-width: 75em){
  .usa-header--basic .usa-nav {
    justify-content: start;
  }
}
