h1, h2, h3, h4 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

.usa-app, html {
    background: $x-randombg;
    color: $x-charcoal;
}

.usa-hero {
    color: $x-charcoal;
}

main#main-content {
    border: none;
}
  
.usa-hero h1 > span {
    font-size: 56px;
    display: block;
    background-color: rgba(255, 255, 255, .85);
    width: fit-content;
    padding-right: 2em;
    padding-left: .5em;
    margin-left: .5em;
    filter: $x-drop-shadow;
}

.usa-button--primary.usa-button--unstyled {
    color: $x-charcoal;
}

.usa-accordion__button {
    background-color: #ffffff;
}

.usa-accordion__button {
    background-color: #ffffff;
}

.USFilterControl.usa-accordion {
    @include u-margin-bottom(2);
}

.usa-accordion__button[aria-expanded="false"] {
    @include add-background-svg("chevron");
}

.usa-accordion__button {
    @include add-background-svg("chevron");
}
