.TxBreak {
  display: block;
  position: relative;
  height: 12px;
  @include u-margin-y(4);
  &:before {
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }

  &__wide {
    @include u-margin-y(6);
    text-align: center;
    &:before {
      transform: translateY(-8px);
      width: 150px;
      margin: 0 auto;
      opacity: 0.3;
      background-size: 100% 100%;
    }
  }

  &__primary-lighter {
    &:before {
      background-image: url("~styles/images/short-lilac-brush-stroke.png");
    }
  }
  &__secondary {
    &:before {
      background-image: url("~styles/images/short-ocean-brush-stroke.png");
    }
  }
  &__accent-warm {
    &:before {
      background-image: url("~styles/images/short-tiger-brush-stroke.png");
    }
  }
  &__accent-cool {
    &.TxBreak__wide {
      &:before {
        opacity: 0.6;
      }
    }
    &:before {
      background-image: url("~styles/images/short-sky-brush-stroke.png");
    }
  }
  &__base-lighter {
    &:before {
      background-image: url("~styles/images/short-ocean-brush-stroke.png");
    }
  }
}
