.usa-button {
  border-radius: 100px;
  @include u-font-family("serif");
  line-height: 0.9;

  &--primary-lighter {
    @include buttonCustom(
      "primary-light",
      "primary-lighter",
      "primary-lighter"
    );
    @include u-color("base-dark");
    font-weight: 500;
    &:visited {
      @include u-color("base-dark");
    }
    &:hover {
      @include u-color("base-dark");
    }
  }

  &--unstyled {
    line-height: inherit;
    @include u-font-family("sans");
    @include u-color("primary-darker");
    &:visited {
      @include u-color("primary-darker");
    }
    &:hover {
      @include u-color("primary-dark");
    }
  }
}
