.usa-header {
  @include u-bg("base-darkest");
  position: relative;
  z-index: 2000;

  & > .grid-container {
    padding: 0;
    @include at-media("desktop") {
      @include u-padding-x(2);
    }
  }

  &__nav {
    position: static;
    @include u-padding(2);
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include at-media("desktop") {
      display: inline-block;
      text-align: left;
      padding: 0;
      @include u-padding-left(2);
    }
  }

  .usa-logo {
    display: flex;
    align-items: center;
    height: 100%;
    @include u-padding(2);

    @include at-media("desktop") {
      padding: 0;
    }
    img {
      height: 52px;
      max-width: unset;
      @include at-media("desktop-lg") {
        height: 60px;
      }
    }
  }
}
