.ProjectList {
  @include at-media("desktop") {
    column-count: 2;
    column-gap: 2rem;
  }
  .usa-card {
    &:hover {
      cursor: pointer;
    }
    * {
      @include u-color("ink");
    }

    &__container {
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);

      transition: box-shadow 0.2s;
      &:hover {
        box-shadow: 0px 16px 28px rgba(0, 0, 0, 0.5);
        .usa-card__heading {
          @include u-color("primary-dark");
          text-decoration: underline;
        }
      }

      @include u-padding-top(10);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
      background-size: contain;
    }
    &__heading {
      @include u-padding-top(2);
      @include u-font("serif", "lg");
      line-height: 130%;
      font-weight: 500;
      @include u-color("primary-darker");
      transition: all 0.2s;
    }
    &__subhead {
      @include u-font("serif", 11);
      &:before {
        display: block;
        content: "";
        @include u-margin-top(2);
        @include u-margin-bottom(4);
        height: 12px;
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: center;
        background-size: contain;
      }
    }
    &__body {
      p {
        margin: 0;
      }
    }
    &.template {
      &-1 {
        .usa-card__container {
          background-image: url("~styles/images/portfolio-paint-stroke-1.png");
          .usa-card__subhead {
            &:before {
              background-image: url("~styles/images/short-tiger-brush-stroke.png");
            }
          }
        }
      }
      &-2 {
        .usa-card__container {
          background-image: url("~styles/images/portfolio-paint-stroke-2.png");
          .usa-card__subhead {
            &:before {
              background-image: url("~styles/images/short-sky-brush-stroke.png");
            }
          }
        }
      }
      &-3 {
        .usa-card__container {
          background-image: url("~styles/images/portfolio-paint-stroke-3.png");
          .usa-card__subhead {
            &:before {
              background-image: url("~styles/images/short-ocean-brush-stroke.png");
            }
          }
        }
      }
      &-4 {
        .usa-card__container {
          background-image: url("~styles/images/portfolio-paint-stroke-4.png");
          .usa-card__subhead {
            &:before {
              background-image: url("~styles/images/short-tiger-brush-stroke.png");
            }
          }
        }
      }
      &-5 {
        .usa-card__container {
          background-image: url("~styles/images/portfolio-paint-stroke-5.png");
          .usa-card__subhead {
            &:before {
              background-image: url("~styles/images/short-lilac-brush-stroke.png");
            }
          }
        }
      }
      &-6 {
        .usa-card__container {
          background-image: url("~styles/images/portfolio-paint-stroke-6.png");
          .usa-card__subhead {
            &:before {
              background-image: url("~styles/images/short-sky-brush-stroke.png");
            }
          }
        }
      }
    }
  }
}

.ProjectCard {
  display: inline-block;
  width: 100%;
  break-inside: avoid;
  &.usa-card:not(.usa-card--flag) .usa-card__container > :only-child {
    @include u-padding-x(4);
    @include u-padding-bottom(6);
  }
  &:hover {
    cursor: pointer;
  }

  * {
    @include u-color("ink");
  }
}
