@mixin cardReset {
  .usa-card {
    .usa-card__container {
      background-color: transparent;
      box-shadow: none;
    }
  }
}

.TxCards {
  .grid-row {
    @include u-margin-x(-2);
  }
  .usa-card {
    height: 100%;
    @include u-padding-bottom(4);
    .usa-card__container {
      height: 100%;
      @include u-margin-x(2);
      border: none;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);

      .usa-card__body {
        @include u-font("serif", 8);
        font-weight: 500;

        h5 {
          @include u-color("base");
        }
        .usa-button--unstyled {
          @include u-font("serif", "md");
        }
      }
    }
  }
  [class*="card-bg"] {
    @include cardReset();
    .usa-card__container {
      @include u-padding-y(2);
    }
  }
  .card-bg {
    &--1 {
      .usa-card__container {
        @include fullWidthBg("featured-bg-1.png");
      }
    }
    &--2 {
      .usa-card__container {
        @include fullWidthBg("featured-bg-2.png");
      }
    }
    &--3 {
      .usa-card__container {
        @include fullWidthBg("featured-bg-3.png");
        @include u-padding-top(4);
      }
    }
    &--4 {
      .usa-card__container {
        @include fullWidthBg("featured-bg-4.png");
        @include u-padding-top(4);
      }
    }
  }

  &.TxRingCards {
    .usa-card {
      padding-bottom: 0;
    }
    .usa-card__container {
      background: transparent;
      box-shadow: none;
      margin: 0;

      .usa-card__body {
        @include u-padding-y(0);
        @include at-media("desktop") {
          padding: 0;
        }

        p {
          @include u-font("sans", "sm");
        }
      }
    }
    h3 {
      display: inline-block;
    }

    blockquote {
      display: flex;
      justify-content: left;
      @include at-media("desktop") {
        float: left;
        height: 100%;
        @include u-margin-right(8);
      }
      h2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 14rem;
        height: 14rem;
        margin: 0;

        @include u-padding-y(10);
        @include u-padding-x(15);
        text-align: center;
        @include u-font("serif", "lg");
        @include fullWidthBg("phase-circle-smoke.png");
        background-size: contain;
        @include u-color("white");

        @include at-media("desktop") {
          @include u-padding-y(6);
          @include u-padding-x(4);
        }

        strong {
          min-width: 100px;
          display: block;
          font-weight: 400;
          text-transform: uppercase;
          @include u-color("white");
          @include u-font("serif", "md");

          @include at-media("desktop") {
            @include u-font("serif", "sm");
          }
        }
        em {
          display: block;
          @include u-font("serif", "lg");
          line-height: 1;
        }
      }
    }
    [class*="grid-col"] {
      &.bg--1 {
        blockquote h2 {
          background-image: url("~styles/images/phase-circle-sky.png");
          @include u-color("accent-cool");
        }
      }
      &.bg--2 {
        blockquote h2 {
          background-image: url("~styles/images/phase-circle-lilac.png");
          @include u-color("primary-light");
        }
      }
      &.bg--3 {
        blockquote h2 {
          background-image: url("~styles/images/phase-circle-ocean.png");
          @include u-color("base-lighter");
        }
      }
      &.bg--4 {
        blockquote h2 {
          background-image: url("~styles/images/phase-circle-tiger.png");
          @include u-color("accent-warm");
        }
      }
      &.bg--5 {
        blockquote h2 {
          background-image: url("~styles/images/phase-circle-smoke.png");
          @include u-color("base-light");
        }
      }
    }
  }

  &.TxBrushCard {
    .usa-card {
      .usa-card__container {
        margin: 0;
        background: none;
        box-shadow: none;

        h5 {
          font-weight: 400;
        }
      }
      &:nth-child(1) {
        .usa-card__container {
          @include fullWidthBg("our-story-stat-1-background.png");
        }
      }
      &:nth-child(2) {
        .usa-card__container {
          @include fullWidthBg("our-story-stat-2-background.png");
        }
      }

      .usa-card__body {
        @include u-padding(4);
        p {
          width: 100%;
        }
      }
    }
  }
}
