.USLayout {
  .USCallout,
  .USCards,
  .USList,
  .USMarkdown,
  .carousel-root {
    @include u-margin-bottom(4);
  }
}

.USCards {
  .usa-card {
    height: 100%;
  }
}

.USFilterControl {
  max-width: 20rem;
  &__title {
    font-weight: 700;
  }
  &__items {
    overflow-y: scroll;
    max-height: 10rem;
    padding: 0;
    @include u-padding-top(1);
  }
  &__item {
    display: flex;
    align-items: flex-start;
    @include u-margin(1);
    cursor: pointer;

    svg {
      margin-top: 0.25rem;
    }
  }
  &__item-label {
    @include u-padding-left(2);
  }

  &__boolean {
    .USFilterControl__item-label {
      text-transform: capitalize;
    }
  }
}

.USContentList {
  &__header {
    align-items: flex-end;
    @include u-margin-bottom(2);
  }
  &__card {
    &.usa-card--flag {
      .usa-card__body {
        margin-left: 0;
      }
    }

    &.usa-card {
      @include u-margin-bottom(2);
    }

    .usa-card__container {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__layout-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include u-margin-bottom(1);

    .usa-button {
      @include u-margin-left(2);
      font-size: 2rem;
      opacity: 0.7;
      &.active {
        opacity: 1;
      }
    }
  }
  &__sort-control {
    display: flex;
    align-items: center;
    .usa-select {
      margin-top: 0;
    }
  }
  &__sort-label {
    white-space: nowrap;
    display: inline-block;
    @include u-padding-right(1);
  }
}
