$bgImgDir: "~styles/images";

.US__bok_bok {
    .usa-hero {
        &.USMarkdown {
            background-image: url($bgImgDir + "/bok_hero.svg");
        }
    }
    .US__bok-bg {
        background: linear-gradient(180deg, rgba(120, 227, 251, 0.088) 0%, rgba(41, 42, 43, 0.1) 51.77%, rgba(120, 227, 251, 0.088) 87.5%);
    }
    .bok-content-bg {
        background: linear-gradient(180deg, #ECECEC 0%, rgba(190, 189, 189, 0.916667) 100%);
    }
}

.US__bok {
    h1, h2, h3, h4 {
        @include u-font-family('sans');
    }

    .usa-hero {
        &.USMarkdown {
            margin-bottom: 0;
        }
        h1 {
            position: absolute;
            top: 50%;
            transform: translateY(-50%)
        }

        height: 476px;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
    }
    .usa-hero-bg {
        background: linear-gradient(180deg, #F4F3F3 0%, #78E3FB 100%);
        background-size: auto 300%;
    }
    .bok-content-bg {
        background: linear-gradient(180deg, rgba(120, 227, 251, 0.088) 0%, rgba(41, 42, 43, 0.1) 51.77%, rgba(120, 227, 251, 0.088) 87.5%);
    }

    .sections {
        h4 {
            display: none;
        }
        h4 + * {
            margin-top: 0;
        }
        .bok-module, .bok-section {
            padding: .5rem;
        }
       }

       .panel {
           margin-top: .5rem;
           padding: 0;
       }

       .usa-hero.usa-hero1 {
        &.USMarkdown {
            background-image: url($bgImgDir + "/bok1_hero.svg");
        }
    }
}

.US__bok-bg {
    h1 {
        margin-bottom: 3rem;
    }
    h1, h2, h3, h4 {
        @include u-font-family('sans');
    }
}
.US__bok-container {
    .grid-row.grid-gap-2 {
        padding-top: 1rem;
    }
}

