$bgImgDir: "~styles/images";

.US__homepage {
  .margin-bottom-4.usa-hero-container {
    margin-bottom: 0;
  }

  .usa-hero {
    height: 476px;
    position: relative;
  }

  h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
  }

  .usa-hero-bg {
    background: linear-gradient(180deg, #F4F3F3 0%, #78E3FB 100%);
    background-size: auto 300%;
  }
  .US__homepage-content {
    background: linear-gradient(180deg, rgba(120,227,251,0.15) 0%, rgba(255,255,255,1) 40%);
    padding-top: 4rem;
  }

  p, .usa-prose > p {
    max-width: initial;
  }
}
