.US__content {
  .USMarkdown {
    @include u-font('sans', 'md');
    @include u-width(full);
    
    @include at-media(tablet) {
      @include grid-col(10);
      @include grid-offset(1);
    }
    @include at-media("desktop") {
      @include grid-col(9);
    }
    @include at-media("widescreen") {
      @include grid-col(9);
      @include grid-offset(none);
    }
  }
  p {
    margin: 1.5rem 0;
  }
  ul li, 
  ol li {
    max-width: none;
    margin-bottom: 1.5rem;
  }
}

.US__section--dark-bg {
  background: $coePrimaryDarkest;
  color: white;
  -webkit-font-smoothing: antialiased;
  a, a:visited {
    color: $coePrimaryLightest;
    text-decoration: none;
    border-bottom: 1px solid $coePrimaryLightest;
  }
  a:hover, a:active {
    color: #FFF;
    border-bottom: 1px solid #FFF;
  }
}
.US__section--gray-bg {
  background: #E9EDEE;
  a, a:visited {
    color: $coePrimaryDarker;
  }
}
.US__section--dark-bg,
.US__section--gray-bg,
.US__section--white-bg {
  
  &.grid-bg {
    padding-top: 3rem;
    
    hr {
      margin: 4rem 0;
    }
    p, ul, ol {
      margin: 2rem 0;
    }
  }
}

.US__section--photo-credit-bg.grid-bg {
  padding-top: 1rem;
  .US__section--photo-credit-container {
    padding-bottom: 0;
  }
  .USMarkdown {
    margin-bottom: 0;
  }
  p {
    margin: 1rem 0;
    @include u-font('sans', 'sm');
    font-style: italic;
  }
}