.US__content {
  .USMarkdown {
    @include u-font('sans', 'md');
    @include u-width(full);
    
    @include at-media(tablet) {
      @include grid-col(10);
      @include grid-offset(1);
    }
    @include at-media("desktop") {
      @include grid-col(9);
    }
    @include at-media("widescreen") {
      @include grid-col(9);
      @include grid-offset(none);
    }
  }
  p {
    margin: 1.5rem 0;
  }
  ul li, 
  ol li {
    max-width: none;
    margin-bottom: 1.5rem;
  }
}

.US__section--dark-bg,
.US__section--gray-bg,
.US__section--white-bg {
  
  &.grid-bg {
    padding-top: 3rem;
    
    hr {
      margin: 4rem 0;
    }
    p, ul, ol {
      margin: 2rem 0;
    }
  }
  a {
    @include linkVariant--dark;
  }
}

.US__section--dark-bg {
  background: $coePrimaryDarkest;
  color: white;
  -webkit-font-smoothing: antialiased;

  a {
    @include linkVariant--light;
    text-decoration: none;
    border-bottom: 1px solid $coePrimaryLightest;
    &:hover, &:active {
      border-bottom: 1px solid #FFF;
    }
  }
}
.US__section--gray-bg {
  background: #E9EDEE;
  a {
    @include linkVariant--dark;
  }
}


.US__section--photo-credit-bg.grid-bg {
  padding-top: 1rem;
  .US__section--photo-credit-container {
    padding-bottom: 0;
  }
  .USMarkdown {
    margin-bottom: 0;
  }
  p {
    margin: 1rem 0;
    @include u-font('sans', 'sm');
    font-style: italic;
  }
}

.user-logged-in {}
.user-logged-out {
  .auth-only {
    display: none;
  }
  .auth-headers {
    h2:after {
      display: inline-block;
      margin-left: .5rem;
      width: 2.25rem;
      height: 2.5rem;
      vertical-align: bottom;
      font-size: 0;
      line-height: 0;
      content: ", You must be logged in to access this content";
      background-size: contain;
      background: no-repeat center center url("data:image/svg+xml,%3Csvg width='20' height='26' viewBox='0 0 20 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5 8.66667H16.25V6.19048C16.25 2.77333 13.45 0 10 0C6.55 0 3.75 2.77333 3.75 6.19048V8.66667H2.5C1.125 8.66667 0 9.78095 0 11.1429V23.5238C0 24.8857 1.125 26 2.5 26H17.5C18.875 26 20 24.8857 20 23.5238V11.1429C20 9.78095 18.875 8.66667 17.5 8.66667ZM10 19.8095C8.625 19.8095 7.5 18.6952 7.5 17.3333C7.5 15.9714 8.625 14.8571 10 14.8571C11.375 14.8571 12.5 15.9714 12.5 17.3333C12.5 18.6952 11.375 19.8095 10 19.8095ZM13.875 8.66667H6.125V6.19048C6.125 4.07333 7.8625 2.35238 10 2.35238C12.1375 2.35238 13.875 4.07333 13.875 6.19048V8.66667Z' fill='%231C77B0'/%3E%3C/svg%3E%0A");
    }
  }
}

