$bgImgDir: "~styles/images";

.US__usecase_login-content {
    .USMarkdown {
        @include u-width(full);
        
        @include at-media(tablet) {
            @include grid-col(8);
            @include grid-offset(2);
        }
    }
}

.US__page.US__usecases {
    .US__usecases-content {
        @include u-padding-top(4);
    }
}

.US__usecases, .US__usecase_home {
    @include u-padding-top(4);

    h1, h2, h3, h4 {
        @include u-font-family('sans');
    }

    h1, .usa-prose > h1 {
        margin-bottom: 1rem;
        font-weight: 700;
    }

    h4 {
        font-size: 26px;
    }

    &.US__page {
        .intro-bg {
            padding-top: 65px;
        }
        padding-top: 0;
    }
    .margin-bottom-4.usa-hero-container {
        margin-bottom: 0;
    }
    .usa-hero-bg {
        background-size: auto 300%;
    }

    .USMarkdown {
        margin-bottom: 0;
    }

    .usecase-header-details-container {
        margin-bottom: 3rem;
        .desc {
            font-weight: 700;
        }
    }
    
    .sections {
        li {
          list-style-type: none;
          margin-bottom: 1rem;
          a {
            color: $x-charcoal;
          }
        }
        ul {
          padding-left: 0;
        }
        .panel {
          //background-color: $x-whiteish;
          background-color: #ffffff;
          filter: drop-shadow(0px 16px 20px rgba(0, 0, 0, 0.1));
          padding: 0.5rem;
          margin-bottom: 1rem;
        }

    }
    .use-case-details.panel {
        //background-color: $x-whiteish;
        background-color: #ffffff;
        filter: drop-shadow(0px 16px 20px rgba(0, 0, 0, 0.1));
        padding: 0.5rem;
    }
    .usecase-scroll-to-top {
        @include at-media("desktop") {
            position: -webkit-sticky;
            position: sticky;
            top: 2rem;
        }
    }

    h2 {
        font-size: 18px;
        font-weight: 700;
    }
    
    .submit-use-case {
        button:only-of-type {
            border-radius: 1.5rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .view-all-use-cases {
        .usa-button {
            background-color: $x-whiteish;
            border-color: $theme-color-primary;
            color: $theme-color-primary;
            border-width: 2px;
            border-style: solid;
            @include u-padding-left(4);
            @include u-padding-right(4);
        }
    }
    .use-case-details {
        dt {
            font-weight: 600;
            font-size: 1.2rem;
        }
        dd {
            margin-inline-start: 0;
            font-size: 1rem;
            @include u-margin-bottom(2);
        }
    }
    .use-case-related {
        @include u-margin-top(4);
        ul {
            list-style-type: none;
            padding-left: 0;
        }
    }

    .USContentList__filter {
        .US__usecase-submit-cta {
            display: none;
            @include at-media("desktop") {
                display: inline-block;
              }
        }
    }
    .USContentList__header {
        .US__usecase-submit-cta {
            @include at-media("desktop") {
                display: none;
            }
        }
    }
}