.US__usecases {
    padding-top: 2rem;
    background: linear-gradient(179.89deg, rgba(120, 227, 251, 0.15) 0.1%, rgba(255, 255, 255, 0.5) 2.64%, rgba(255, 255, 255, 0.5) 94.97%, rgba(120, 227, 251, 0.08) 97.61%);

    h1, .usa-prose > h1 {
        margin-bottom: 1rem;
    }
}