$bgImgDir: "~styles/images";

.US__usecase_login-content {
    .USMarkdown {
        @include u-width(full);
        
        @include at-media(tablet) {
            @include grid-col(8);
            @include grid-offset(2);
        }
    }
}

.USLayout.US__usecases {
    @include u-padding-top(4);
   
}

.US__usecases, .US__usecase_home {


    &.US__page {
        .intro-bg {
            padding-top: 65px;
        }
        padding-top: 0;
    }
    .margin-bottom-4.usa-hero-container {
        margin-bottom: 0;
    }

    .USMarkdown {
        margin-bottom: 0;
    }

    .usecase-header-details-container {
        margin-bottom: 3rem;
        .desc {
            font-weight: 700;
        }
    }
    
    .sections {
        h2 {
            @include u-font("serif", "lg");
        }
        li {
          list-style-type: lower-roman;
          margin-bottom: .75rem;
          margin-left: 2rem;
          a {
            color: color('base-darkest')
          }
        }
        ul {
          padding-left: 0;
          margin-bottom: 2rem;
        }
        .panel {
            @include u-margin-bottom(2);
            @include u-padding-x(2);
            @include u-padding-top(2);
            @include u-padding-bottom(1px);
            @include u-bg("base-lightest");

            @include at-media("tablet") {
                @include u-margin-right(2);

            }
        }

    }
    .use-case-details.panel {
        @include u-border(1px);
        @include u-border-color("base-lighter");
        @include u-margin-bottom(4);
        @include u-padding-x(2);
        @include u-padding-top(2);
        @include u-padding-bottom(1px);
        @include at-media("tablet") {
            @include u-margin-left(2);
        }
        @include at-media("desktop") {
        }
        h2 {
            @include u-font("serif", "lg");
        }
        
    }
    .usecase-scroll-to-top {
        @include at-media("desktop") {
            position: -webkit-sticky;
            position: sticky;
            top: 2rem;
            margin-top: 2rem;
            display: block;
        }
    }

    
    .submit-use-case {
        button:only-of-type {
            border-radius: 1.5rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .view-all-use-cases {
        .usa-button {
            background-color: color('gray-cool-1');
            border-color: $theme-color-primary;
            color: $theme-color-primary;
            border-width: 2px;
            border-style: solid;
            @include u-padding-left(4);
            @include u-padding-right(4);
        }
    }
    .use-case-details {
        dt {
            font-weight: 600;
            font-size: 1.2rem;
        }
        dd {
            margin-inline-start: 0;
            font-size: 1rem;
            @include u-margin-bottom(2);
            a {
                display: block;
                width: fit-content;
            }
        }
    }
    .use-case-related {
        @include u-margin-top(4);
        ul {
            list-style-type: none;
            padding-left: 0;
        }
    }

    .USContentList__filter {
        .US__usecase-submit-cta {
            display: none;
            @include at-media("desktop") {
                display: inline-block;
              }
        }
    }
    .USContentList__filterList {
        @include u-margin-x(0);
        @include u-margin-bottom(3);
    }
    .USContentList__header {
        .US__usecase-submit-cta {
            @include at-media("desktop") {
                display: none;
            }
        }
    }
}