$bgImgDir: "~styles/images";

.US__page.US__usecases {
    .US__usecases-content {
        @include u-padding-top(4);
    }
}

.US__usecases, .US__usecase_home {
    @include u-padding-top(4);
    background: linear-gradient(179.89deg, rgba(120, 227, 251, 0.15) 0.1%, rgba(255, 255, 255, 0.5) 2.64%, rgba(255, 255, 255, 0.5) 94.97%, rgba(120, 227, 251, 0.08) 97.61%);

    h1, h2, h3, h4 {
        @include u-font-family('sans');
    }

    h1, .usa-prose > h1 {
        margin-bottom: 1rem;
        font-weight: 700;
    }

    h4 {
        font-size: 28px;
    }

    &.US__page {
        .intro-bg {
            background: linear-gradient(180deg, rgba(120, 227, 251, 0.15) 0%, rgba(255, 255, 255, 0.5) 6.46%, rgba(255, 255, 255, 0) 83.37%, rgba(120, 227, 251, 0) 87.5%);
            padding-top: 65px;
        }
        padding-top: 0;
    }
    .margin-bottom-4.usa-hero-container {
        margin-bottom: 0;
    }
    .usa-hero {
        &.USMarkdown {
            margin-bottom: 0;
        }
        h1 {
            position: absolute;
            top: 50%;
            transform: translateY(-50%)
        }

        background-image: url($bgImgDir + "/usecases_hero.png");
        height: 476px;
        position: relative;
      }

      // background: linear-gradient(180deg, #F4F3F3 0%, #78E3FB 100%);
      .usa-hero-bg {
        background: linear-gradient(180deg, #F4F3F3 0%, #78E3FB 100%);
        background-size: auto 300%;
      }

    .usecase-header-details-container {
        margin-bottom: 3rem;
        .desc {
            font-weight: 700;
        }
    }
    
    .sections {
        li {
          list-style-type: none;
          margin-bottom: 1rem;
          a {
            color: $x-charcoal;
          }
        }
        ul {
          padding-left: 0;
        }
        .panel {
          background-color: $x-whiteish;
          filter: drop-shadow(0px 16px 20px rgba(0, 0, 0, 0.1));
          padding: 0.5rem;
        }
    }
    .use-case-details.panel {
        background-color: $x-whiteish;
        filter: drop-shadow(0px 16px 20px rgba(0, 0, 0, 0.1));
        padding: 0.5rem;
    }


    h2 {
        font-size: 18px;
        font-weight: 700;
    }
    
    .submit-use-case {
        .usa-card__container {
        }
        button:only-of-type {
            border-radius: 1.5rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .view-all-use-cases {
        .usa-button {
            background-color: $x-whiteish;
            border-color: $theme-color-primary;
            color: $theme-color-primary;
            border-width: 2px;
            border-style: solid;
            @include u-padding-left(4);
            @include u-padding-right(4);
        }
    }
    .use-case-details {
        dt {
            font-weight: 600;
            font-size: 1.2rem;
        }
        dd {
            margin-inline-start: 0;
            font-size: 1rem;
            @include u-margin-bottom(2);
        }
    }
}